@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,500&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --dark-bg: #121220;
    --dark-color: #aaaaaa;
    --dark-cardBg: #141424;
}